/*  GLOBALS */
body{
  height:100%;
  width:100%;
  background-image: radial-gradient(50% 150%, #FFFFFF 50%, #f0e8e8 100%);
}
html{
  height: 100%;
  width:100%;
}
p{
  color: #4A4A4A;
  font-size: 14px;
}

.row{
  max-width: 100%;
}
.sodLeft{
  background-color: #F6F4F4;
  /*FIXME: Setting height is layout breaking
   - leave as auto to conform to content*/
  /*height:100%;*/
  padding-left: 40px;
  padding-right: 40px;
}
.sodRight{
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 50px;
  height: 100%;
}

h1{
}
h2{
  font-size: 24px;
  letter-spacing: 1.5px;

}
h3{

}
h4{

}
.sodLogo{
  padding-top: 20px;
  padding-bottom: 10px;
  border-bottom: 1px solid grey;
}
.sodBrief{
  padding-left: 5px;
  font-size: 16px;
  padding-top: 20px;
  padding-bottom: 20px;
  border-bottom:1px solid grey;
}
.sodBrief > p{
  margin-bottom: 0px;
}
.set-right-justified{
  text-align:right;
  table{
  	display:inline;
    text-align:right;
  }
}
/* sod menu*/
.vertical.menu{
  background-color: #f6f3f3;
  letter-spacing: 1.5px;
}

.vertical.menu a{
  color: #6b6c6e;
}
/** Changes the active menu item from default black to a gradient **/
.vertical.menu ul li.active > a {
  color: #6b6c6e;
}

/** Changes the hover state of non active menu items **/
.vertical.menu li:hover a {
    color: #6b6c6e;
}

/** Changes non active menu items text color to black **/
.vertical.menu ul li > a {
    color: #6b6c6e;
}
/* menu ends */
/* filter starts*/
.sodFilter{
  border-bottom: 1px solid #6b6c6e;
  width:100%;
}
.sodMain{

}
.filterBtn{
  height:;
}
.togglelbl{
  text-align: left;
  font-size: 22px;
}
/*FIXME: this class should be renamed sodFilterBreadcrumbs
to distringuish between page breadcrumbs*/
.sodBreadcrumbs{
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 40px;
  color:#555555;
  font-size: 16px;
}
.full-height{
  height: calc(100% - 100px + 100px;);
}
/* masonry */
.grid-item {
  width: 350px;;
  height:300px;
  margin-top: 10px;
  margin-right: 10px;
  border-radius: 25px;
}
.grid-item--width2 {
  width: 550px;
  height:300px;
  margin-top: 10px;
  margin-right:10px;

 }
 .masonry .grid-sizer {
  width:  33.33333%;
}
.masonry .grid-sizer {
  width:  33.33333%;
}
.masonry .gutter-sizer {
  width:20px;
}
/* card flips*/
.card {
  text-align: center;
  float:left;
  border:0px;
}
/* card fronts and backs */
.card__front,
.card__back {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.card__front,
.card__back {
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-transition: -webkit-transform 0.3s;
          transition: transform 0.3s;
}

.card__front {
  background-color: #ff5078;
}

.card__back {
  background-color: #dedede;
  -webkit-transform: rotateY(-180deg);
          transform: rotateY(-180deg);
}
/* click effect */
.card.effect__click.flipped .card__front {
  -webkit-transform: rotateY(-180deg);
          transform: rotateY(-180deg);
}

.card.effect__click.flipped .card__back {
  -webkit-transform: rotateY(0);
          transform: rotateY(0);
}
.cardIcon{
  height: 49px;
  width: 70px;
  background-color: #fff;
  margin-left: 40px;
  margin-top: 40px;
}
.cardIconBack{
  height: 49px;
  width: 70px;
  background-color: #fff;
  margin-left: 60px;
  margin-top: 40px;
}
.searchIcon {
  font-size: 2.8rem;
  margin-top: -20px;
}
.cardHeading{
  min-height:70px;
  letter-spacing: 3px;
  text-align: left;
  margin-left: 40px;
  margin-right: 40px;
  margin-top: 10px;
  margin-bottom: 5px;
  border-bottom:1px solid black
}
.cardInfo{
  min-height: 100px;
  margin-left: 40px;
  text-align: left;
  line-height: 1.5;
  padding-right: 40px;
}
.cardInfoText{
  width:72%;
  display: inline-block;
}
.cardInfoBtn{
  width:28%;
  margin-top: 20px;
  display: inline-block;
  float: right;
  width:60px;
  height:60px;
}
/* department text colours */
.fyTxt{color:#29a7dc;}
.mediaTxt{color:#d9235c;}
.indTxt{color:#dc6442;}
.ccTxt{color:#40c6c7;}
.pgTxt{color:#90278e;}


/* PROJECT PAGE */
.sodMainProject, .sodProjectSidebar{
  display: inline-block;
}
.sodPageBreadcrumbs{
  list-style: none;
  margin-bottom: 40px;
}
.sodPageBreadcrumbs li, .sodPageBreadcrumbs a{
  display: inline;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: #58595B;
}

/*Fotorama carousel overrides*/
.fotorama__stage{
  border-radius: 10px;
}

/*Project information*/
.sodProjectInfo{
  margin-top: 20px;
}
.sodProjectTitle{
  text-transform: uppercase;
  text-align: center;
  color: #D91C5C;
}
.sodProjectAuthor{
  color: #6D6E71;
  text-transform: uppercase;
  letter-spacing: 2.5px;
}
.sodProjectInfoSection, .sodProjectFieldTitle, .sodProjectFieldInfo{
  display: inline-block;
}
.sodProjectInfoSection{
  padding: 0 40px;
}
.sodProjectFieldTitle{
  font-weight: bold;
  min-width: 100px;
  margin-bottom: 5px;
<<<<<<< HEAD
<<<<<<< HEAD
=======
}
.sodProjectFieldInfo a, .sodProjectFieldInfo ul li a{
  color: #FF697B;
>>>>>>> 5a46bf08f93cd0d2e0f0ff2ad4ce7563f510adab
=======
}
.sodProjectFieldInfo a, .sodProjectFieldInfo ul li a{
  color: #FF697B;
>>>>>>> 5a46bf08f93cd0d2e0f0ff2ad4ce7563f510adab
}
.sodProjectTags{
  margin-left: 0px;
  line-height: 1;
}
.sodProjectTags li{
  list-style: none;
  display: inline;
  font-size: 0.8rem;
  line-height: 0.5rem;
}
/*Project sidebar*/
.sodSidebar{
  padding-left: 30px;
}
.sodSidebar h2{
  text-transform: uppercase;
}
/*Related project container*/
.sodRelatedProjects{
  text-align: center;
  padding: 15px;
  background-color: #F7F8F9;
  border-radius: 10px;
}
.sodRelatedProjects h3{
  font-size: 1rem;
  color: #6D6E71;
  letter-spacing: 3.5px;
  text-transform: uppercase;
  margin-top: 10px;
}
.sodRelatedStudent{
  margin-top: 20px;
}
.sodRelatedStudent p{
  margin-bottom: 5px;
}
.sodRelatedStudent a{
  color: #4A4A4A;
  font-weight: bold;
}

/*Related singular project*/
div.sodRelatedProject{
  height: 200px;
  border-radius: 10px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* News SECTION */
.sodNewsArticle{
  margin-left: 25px;
  margin-right: 25px;
  border: 1px solid #fff;
  border-radius: 25px;
  margin-bottom: 25px;
}
.grid-item-news {
  width: 95%;
  height:550px;
  margin-right: 10px;
  border-radius: 25px;
}
.newsFilter{
  background-color: #fff;
  padding-bottom: 25px;
}
.sodDepartment{
  height: 250px;
}
.sodNewsInfo{
  min-height:300px;
  background-color: #dedede;
  opacity: 0.9;
  padding-top: 35px;
  border-radius: 25px;
}
.newsInfoPadding{
  margin-left: 50px;
  margin-right: 50px;
}

.sodNewsDepartment{
  height: 80px;
  border-bottom: 1px solid black;
}
.sodNewsDate{
  display: inline-block;
  width: 85%;
}
.sodNewsDepartmentImg{
  height: 50px;
  float:right;
  display: inline-block;
  margin-top: 25px;
  margin-right: 45px;

}
/* MEDIA QUERIES */
/* Small only */
@media screen and (max-width: 39.9375em) {

  .sodLeft{
    width:100%;
    float left;
  }
  .sodRight{
    width: 100%;
    float: left;
  }
  /* masonry */
  .grid-item {
    width: 100%;
    height:300px;
    margin-right: 10px;
    border-radius: 25px;
  }
  .grid-item--width2 {
    width: 100%;
    height:300px;
    margin-top: 10px;
    margin-right:10px;

   }
}

/* Medium and up */
@media screen and (min-width: 40em) {
  .sodLeft{
    width:40%;
    float left;
  }
  .sodRight{
    width: 60%;
    float: left;
  }
}

/* Medium only */
@media screen and (min-width: 40em) and (max-width: 63.9375em) {
  .sodLeft{
    width:40%;
    float left;
  }
  .sodRight{
    width: 60%;
    float: left;
  }
  /* masonry */
  .grid-item {
    width: 100%;
    height:300px;
    margin-right: 10px;
    border-radius: 25px;
  }
  .grid-item--width2 {
    width: 100%;
    height:300px;
    margin-top: 10px;
    margin-right:10px;

   }
}


/* Large and up */
@media screen and (min-width: 64em) {
  .sodLeft{
    width:35%;
    float left;
  }
  .sodRight{
    width: 65%;
    float: left;
  }
}

/* Large only */
@media screen and (min-width: 64em) and (max-width: 74.9375em) {
  .sodLeft{
    width:35%;
    float left;
  }
  .sodRight{
    width: 65%;
    float: left;
  }
}
/* extra Large and up */
@media screen and (min-width: 75em) {
  .sodLeft{
    width:35%;
    float left;
  }
  .sodRight{
    width: 60%;
    float: left;
  }
}

/* extra Large only */
@media screen and (min-width: 75em) and (max-width: 81.9375em) {
  .sodLeft{
    width:35%;
    float left;
  }
  .sodRight{
    width: 65%;
    float: left;
  }
}
/* extra extra Large and up */
@media screen and (min-width: 82em) {
  .sodLeft{
    width:25%;
    float left;
  }
  .sodRight{
    width: 75%;
    float: left;
  }
}

/* extra extra Large only */
@media screen and (min-width: 82em) and (max-width: 92.9375em) {
  .sodLeft{
    width:25%;
    float left;
  }
  .sodRight{
    width: 75%;
    float: left;
  }
}
/* extra extra Large and up */
@media screen and (min-width: 93em) {
  .sodLeft{
    width:20%;
    float left;
  }
  .sodRight{
    width: 80%;
    float: left;
  }
}

/* extra extra Large only */
@media screen and (min-width: 93em) and (max-width: 104.9375em) {
  .sodLeft{
    width:20%;
    float left;
  }
  .sodRight{
    width: 80%;
    float: left;
  }
}
